{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' opts.app_label %}">{{ opts.app_label|capfirst }}</a>
    &rsaquo; <a href="{% url 'admin:vacancies_vacancy_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{{ title }}</h1>
    <p>{% trans "Select a company and one of its recruiters, then upload a .txt file containing either one vacancy
        object or an array of vacancy objects in JSON format." %}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            {{ form.as_p }}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Import' %}" class="default" />
            <a href=".." class="button cancel-link">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}